In [4]:
import pandas as pd
df = pd.read_csv("dataset.csv")
# print(f"read")

In [6]:
type(df)
df

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,Poland,POL,GDP per capita (current US$),NY.GDP.PCAP.CD,1698.00692240161,2192.66597959689,2411.85949606936,2449.30190803207,2819.68946640512,3612.15951448199,...,1.124755e+04,1.390622e+04,1.144058e+04,1.259746e+04,1.389114e+04,1.314205e+04,1.377645e+04,1.433721e+04,1.249447e+04,..
1,Poland,POL,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-7.34479101398449,2.2010658661186,3.47468277389751,5.07085551499688,6.8067989238197,...,7.259915e+00,3.906208e+00,2.564657e+00,3.995464e+00,4.952064e+00,1.561950e+00,1.325847e+00,3.359870e+00,3.683108e+00,..
2,Poland,POL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,-7.01557881088655,2.51497862631298,3.73831030900784,5.29280205906156,6.95185663018788,...,7.201683e+00,3.920379e+00,2.634181e+00,3.698868e+00,5.008512e+00,1.561707e+00,1.264705e+00,3.282538e+00,3.649719e+00,..
3,Poland,POL,GDP (current US$),NY.GDP.MKTP.CD,64712371654.1385,83861126240.1965,92527774557.9928,94203600000,108678309851.718,139411289237.113,...,4.287630e+11,5.301851e+11,4.364764e+11,4.792425e+11,5.287421e+11,5.002279e+11,5.240590e+11,5.449821e+11,4.747834e+11,..
4,Germany,DEU,GDP per capita (current US$),NY.GDP.PCAP.CD,22219.5725271486,23269.3817972445,26333.537444515,25488.5195189314,27087.5584535617,31729.6997633451,...,4.181482e+04,4.569920e+04,4.173271e+04,4.178804e+04,4.593608e+04,4.401093e+04,4.560077e+04,4.776700e+04,4.121905e+04,..
5,Germany,DEU,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,4.35163905751361,4.34522004153158,1.15177125116625,-1.60513530528513,2.10260723179756,1.43906815827275,...,3.398706e+00,1.274699e+00,-5.379411e+00,4.239504e+00,3.633713e+00,2.117815e+00,-1.786600e+00,3.042865e+00,1.149834e+00,..
6,Germany,DEU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.25500608609781,5.10826150794557,1.92380701113764,-0.956165307017542,2.45737182000684,1.73764063121563,...,3.260535e+00,1.082315e+00,-5.618860e+00,4.079933e+00,3.660000e+00,4.051707e-01,2.978476e-01,1.599770e+00,1.687724e+00,..
7,Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,1764967948916.6,1861873895109.02,2123130870381.97,2068555542410.98,2205966011811.5,2591620035485.19,...,3.439953e+12,3.752366e+12,3.418005e+12,3.417298e+12,3.757465e+12,3.539615e+12,3.745317e+12,3.868291e+12,3.355772e+12,..
8,Belarus,BLR,GDP per capita (current US$),NY.GDP.PCAP.CD,1704.74030406477,1747.43867127761,1666.22751294157,1590.03540902938,1460.01754360249,1370.67270975184,...,4.735957e+03,6.376173e+03,5.176045e+03,5.818855e+03,6.305774e+03,6.721835e+03,7.722123e+03,8.025304e+03,5.740456e+03,..
9,Belarus,BLR,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-1.24845987835901,-9.79467501957747,-7.80755933196606,-11.5963919037841,-10.1099470276634,...,9.099833e+00,1.057011e+01,4.213317e-01,7.933784e+00,5.733117e+00,1.828135e+00,1.052246e+00,1.540729e+00,-4.190796e+00,..
10,Belarus,BLR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,-1.19999999999921,-9.60000000000034,-7.60000000000005,-11.7,-10.4000000000001,...,8.600000e+00,1.020000e+01,2.000000e-01,7.740781e+00,5.543711e+00,1.731391e+00,1.073601e+00,1.723086e+00,-3.887699e+00,..
11,Belarus,BLR,GDP (current US$),NY.GDP.MKTP.CD,17369598958.1159,17813389815.004,17022180272.211,16280372553.0518,14931599418.4226,13972637603.2102,...,4.527575e+10,6.075218e+10,4.920866e+10,5.522093e+10,5.973459e+10,6.361545e+10,7.309762e+10,7.610396e+10,5.460896e+10,..
12,Czech Republic,CZE,GDP per capita (current US$),NY.GDP.PCAP.CD,3901.52543716148,2867.22942525824,3338.65515761704,3916.05165601696,4583.5844993381,5765.04843935797,...,1.833395e+04,2.264938e+04,1.969849e+04,1.976396e+04,2.165694e+04,1.964093e+04,1.981387e+04,1.950242e+04,1.723128e+04,..
13,Czech Republic,CZE,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-11.4025060199383,-0.608213635360642,-0.0420531024969932,2.87214351826653,6.28655463088086,...,4.915252e+00,1.862581e+00,-5.382388e+00,1.997475e+00,1.756017e+00,-1.038876e+00,-5.611601e-01,1.870850e+00,3.942552e+00,..
14,Czech Republic,CZE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,-11.6149423591857,-0.50654234886359,0.0619042479584664,2.90930946489505,6.22140600078447,...,5.529266e+00,2.710956e+00,-4.841785e+00,2.295090e+00,1.966613e+00,-9.003067e-01,-5.281708e-01,1.978154e+00,4.198050e+00,..
15,Czech Republic,CZE,GDP (current US$),NY.GDP.MKTP.CD,40315847383.7197,29557058174.1697,34451993226.0347,40452245779.1651,47364869195.7617,59537113790.5049,...,1.888182e+11,2.352048e+11,2.057298e+11,2.070159e+11,2.273132e+11,2.064416e+11,2.083284e+11,2.052697e+11,1.818110e+11,..
16,Slovak Republic,SVK,GDP per capita (current US$),NY.GDP.PCAP.CD,2395.56458240433,2680.04102617743,2908.81083227843,3089.43827648565,3755.72773656894,4799.15105117605,...,1.601460e+04,1.860432e+04,1.646022e+04,1.655488e+04,1.813872e+04,1.720728e+04,1.810852e+04,1.850143e+04,1.596257e+04,..
17,Slovak Republic,SVK,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,..,1.51309128902024,5.7878459419352,5.53421614935519,...,1.080210e+01,5.562158e+00,-5.617217e+00,4.983970e+00,2.709423e+00,1.350699e+00,1.319051e+00,2.422465e+00,3.491866e+00,..
18,Slovak Republic,SVK,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,..,..,1.90132746194847,6.20553004618371,5.84349555959524,...,1.083444e+01,5.652722e+00,-5.491361e+00,5.081852e+00,2.841939e+00,1.523328e+00,1.427985e+00,2.521909e+00,3.595021e+00,..
19,Slovak Republic,SVK,GDP (current US$),NY.GDP.MKTP.CD,12694544692.7374,14213045493.8806,15431288006.2104,16452201100.9604,20079363625.5784,25733043137.2549,...,8.607241e+10,1.000770e+11,8.866143e+10,8.925444e+10,9.791979e+10,9.304972e+10,9.802854e+10,1.002528e+11,8.658179e+10,..
20,Hungary,HUN,GDP per capita (current US$),NY.GDP.PCAP.CD,..,3333.90104770405,3716.86956819971,3855.07339515788,4152.99697915937,4472.76269790186,...,1.383083e+04,1.564972e+04,1.294808e+04,1.300935e+04,1.403277e+04,1.281971e+04,1.358543e+04,1.402190e+04,1.225912e+04,..
21,Hungary,HUN,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,-3.02623555290212,-0.46266522093822,3.08816830759298,1.63091759660323,...,5.815154e-01,1.016067e+00,-6.414218e+00,9.711490e-01,2.046251e+00,-1.179866e+00,2.170727e+00,3.951867e+00,3.166675e+00,..
22,Hungary,HUN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,..,-3.0641803453415,-0.576108517134102,2.94715455666218,1.48952547536065,...,4.258200e-01,8.393458e-01,-6.559078e+00,7.431979e-01,1.757502e+00,-1.688895e+00,1.889768e+00,3.672220e+00,2.938916e+00,..
23,Hungary,HUN,GDP (current US$),NY.GDP.MKTP.CD,..,34583889128.2532,38541488005.1856,39929011357.0358,42955922069.3729,46199009359.9339,...,1.390798e+11,1.570949e+11,1.297740e+11,1.300938e+11,1.399310e+11,1.271762e+11,1.344018e+11,1.383467e+11,1.206871e+11,..
24,Estonia,EST,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,3044.37910879554,...,1.658641e+04,1.809455e+04,1.472631e+04,1.464140e+04,1.745375e+04,1.749099e+04,1.915542e+04,2.014778e+04,1.729536e+04,..
25,Estonia,EST,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,..,..,..,..,...,8.240861e+00,-5.165521e+00,-1.455986e+01,2.696715e+00,7.910225e+00,5.559748e+00,1.929911e+00,3.176770e+00,1.264045e+00,..
26,Estonia,EST,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,..,..,..,..,..,...,7.748203e+00,-5.419464e+00,-1.472440e+01,2.462773e+00,7.583125e+00,5.182578e+00,1.567796e+00,2.906537e+00,1.067841e+00,..
27,Estonia,EST,GDP (current US$),NY.GDP.MKTP.CD,..,..,..,..,..,4373658536.58537,...,2.223707e+10,2.419404e+10,1.965249e+10,1.949466e+10,2.316879e+10,2.313527e+10,2.524679e+10,2.648516e+10,2.269148e+10,..
28,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,21795.2378254833,21782.4162038013,23937.0569176208,22503.2608510696,23625.5289969556,27037.9721319292,...,4.160058e+04,4.541307e+04,4.163113e+04,4.070577e+04,4.380748e+04,4.083802e+04,4.257120e+04,4.254684e+04,3.624818e+04,..
29,France,FRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2.33340977294112,0.9588666393567,1.09573344597675,-1.04235721903616,1.96512508997321,1.71696930744902,...,1.730132e+00,-3.630923e-01,-3.439412e+00,1.463151e+00,1.586720e+00,-3.010020e-01,1.001211e-01,-5.303321e-01,6.828875e-01,..
30,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.91400970050218,1.03910533058813,1.59967121382168,-0.612652833443249,2.3453855933703,2.08508453656513,...,2.361499e+00,1.952948e-01,-2.941341e+00,1.965657e+00,2.079229e+00,1.826930e-01,5.762415e-01,2.594941e-01,1.155967e+00,..
31,France,FRA,GDP (current US$),NY.GDP.MKTP.CD,1275300566196.84,1275563306592.26,1408724907063.2,1330094973361.13,1401636342155.01,1609892232882.11,...,2.663113e+12,2.923466e+12,2.693827e+12,2.646995e+12,2.862502e+12,2.681416e+12,2.808511e+12,2.829192e+12,2.421682e+12,..
32,Ukraine,UKR,GDP per capita (current US$),NY.GDP.PCAP.CD,1569.73943340979,1489.68963452658,1417.86880493451,1258.13633251744,1011.98642980094,935.98525769995,...,3.068609e+03,3.891038e+03,2.545480e+03,2.973996e+03,3.569757e+03,3.855421e+03,3.986283e+03,3.065164e+03,2.114955e+03,..
33,Ukraine,UKR,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,-6.56000651945212,-8.60169403503461,-9.95837844198388,-14.273685978458,-22.5508475088893,-11.5033208109732,...,8.545879e+00,2.855418e+00,-1.442093e+01,4.614795e+00,5.578854e+00,4.478996e-01,2.279642e-01,-1.194658e+00,-9.571715e+00,..
34,Ukraine,UKR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-6.34523512849145,-8.41064388765125,-9.69899857978449,-14.2261068839804,-22.9340455344914,-12.2000000174838,...,7.900001e+00,2.300000e+00,-1.480000e+01,4.200000e+00,5.200000e+00,2.000000e-01,0.000000e+00,-6.600003e+00,-9.899983e+00,..
35,Ukraine,UKR,GDP (current US$),NY.GDP.MKTP.CD,81456918678.5008,77464561149.5103,73942235330.437,65648559903.0571,52543388913.1384,48214752454.2319,...,1.427190e+11,1.799924e+11,1.172278e+11,1.364193e+11,1.631597e+11,1.757814e+11,1.813344e+11,1.318051e+11,9.061502e+10,..
36,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,19095.4669984608,19900.7266505069,20487.1707852878,18389.0195675099,19709.2380983653,21330.276252903,...,4.842816e+04,4.519516e+04,3.716628e+04,3.829287e+04,4.102038e+04,4.129451e+04,4.229489e+04,4.627852e+04,4.373400e+04,..
37,United Kingdom,GBR,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,0.253445348286505,-1.56193437012463,0.175136684558439,2.38923188591819,3.75947395912412,2.25086602979407,...,1.790336e+00,-1.247160e+00,-4.913894e+00,7.473263e-01,1.178411e+00,4.779823e-01,1.478193e+00,2.080913e+00,1.504319e+00,..
38,United Kingdom,GBR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.553581904401085,-1.25704549926641,0.446408126806446,2.63499989075804,4.02396809897093,2.52172617337949,...,2.586037e+00,-4.668768e-01,-4.191945e+00,1.540177e+00,1.972399e+00,1.179056e+00,2.159904e+00,2.852843e+00,2.329183e+00,..
39,United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,1093169389204.55,1142797178130.51,1179659529659.53,1061388722255.55,1140489745944.29,1237561937825.47,...,2.969734e+12,2.793377e+12,2.314577e+12,2.403504e+12,2.594905e+12,2.630473e+12,2.712296e+12,2.990201e+12,2.848755e+12,..
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Last Updated: 11/17/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df["Country Name"]#recommended

0                                               Poland
1                                               Poland
2                                               Poland
3                                               Poland
4                                              Germany
5                                              Germany
6                                              Germany
7                                              Germany
8                                              Belarus
9                                              Belarus
10                                             Belarus
11                                             Belarus
12                                      Czech Republic
13                                      Czech Republic
14                                      Czech Republic
15                                      Czech Republic
16                                     Slovak Republic
17                                     Slovak Republic
18                                     Slovak Republic
19                                     Slovak Republic
20                                             Hungary
21                                             Hungary
22                                             Hungary
23                                             Hungary
24                                             Estonia
25                                             Estonia
26                                             Estonia
27                                             Estonia
28                                              France
29                                              France
30                                              France
31                                              France
32                                             Ukraine
33                                             Ukraine
34                                             Ukraine
35                                             Ukraine
36                                      United Kingdom
37                                      United Kingdom
38                                      United Kingdom
39                                      United Kingdom
40                                                 NaN
41                                                 NaN
42                                                 NaN
43    Data from database: World Development Indicators
44                            Last Updated: 11/17/2016
Name: Country Name, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   42 non-null     object
 1   Country Code   40 non-null     object
 2   Series Name    40 non-null     object
 3   Series Code    40 non-null     object
 4   1990 [YR1990]  40 non-null     object
 5   1991 [YR1991]  40 non-null     object
 6   1992 [YR1992]  40 non-null     object
 7   1993 [YR1993]  40 non-null     object
 8   1994 [YR1994]  40 non-null     object
 9   1995 [YR1995]  40 non-null     object
 10  1996 [YR1996]  40 non-null     float64
 11  1997 [YR1997]  40 non-null     float64
 12  1998 [YR1998]  40 non-null     float64
 13  1999 [YR1999]  40 non-null     float64
 14  2000 [YR2000]  40 non-null     float64
 15  2001 [YR2001]  40 non-null     float64
 16  2002 [YR2002]  40 non-null     float64
 17  2003 [YR2003]  40 non-null     float64
 18  2004 [YR2004]  40 non-null     float64
 19  2005 [YR2005]  40 non-null     float64
 20  2006 [YR2006]  40 non-null     float64
 21  2007 [YR2007]  40 non-null     float64
 22  2008 [YR2008]  40 non-null     float64
 23  2009 [YR2009]  40 non-null     float64
 24  2010 [YR2010]  40 non-null     float64
 25  2011 [YR2011]  40 non-null     float64
 26  2012 [YR2012]  40 non-null     float64
 27  2013 [YR2013]  40 non-null     float64
 28  2014 [YR2014]  40 non-null     float64
 29  2015 [YR2015]  40 non-null     float64
 30  2016 [YR2016]  40 non-null     object
dtypes: float64(20), object(11)
memory usage: 11.0+ KB

In [10]:
df.describe()

,1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
count,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01
mean,1.446677e+11,1.372287e+11,1.417991e+11,1.406870e+11,1.308131e+11,1.316919e+11,1.426754e+11,1.705805e+11,1.968679e+11,2.057453e+11,2.190203e+11,2.531441e+11,2.689177e+11,2.368285e+11,2.396135e+11,2.613710e+11,2.510233e+11,2.627655e+11,2.727733e+11,2.414497e+11
std,5.007280e+11,4.649105e+11,4.780457e+11,4.746504e+11,4.369309e+11,4.363973e+11,4.705924e+11,5.633055e+11,6.462387e+11,6.667595e+11,7.048007e+11,8.078246e+11,8.464855e+11,7.566341e+11,7.592880e+11,8.274851e+11,7.921232e+11,8.304221e+11,8.671394e+11,7.713040e+11
min,-1.000000e+01,-3.000000e+00,-1.900000e+00,-8.564951e-01,1.210176e+00,1.205302e+00,-1.679871e-01,-7.648612e-01,1.169970e+00,7.067139e-01,1.663680e+00,4.258200e-01,-5.419464e+00,-1.480000e+01,7.431979e-01,1.178411e+00,-1.688895e+00,-1.786600e+00,-6.600003e+00,-9.899983e+00
25%,2.766953e+00,3.343499e+00,3.793354e+00,2.573933e+00,4.285553e+00,3.408692e+00,3.984108e+00,3.791041e+00,5.161673e+00,4.164112e+00,6.505641e+00,6.783579e+00,1.715611e+00,-5.380155e+00,3.448329e+00,3.435769e+00,1.003788e+00,1.216929e+00,2.337077e+00,1.641873e+00
50%,4.397992e+02,5.021558e+02,4.220885e+02,3.201528e+02,3.231405e+02,3.955208e+02,4.431128e+02,5.294069e+02,6.901530e+02,9.194381e+02,1.156971e+03,1.539722e+03,1.950804e+03,1.274057e+03,1.490965e+03,1.788834e+03,1.930491e+03,1.994227e+03,1.534558e+03,1.059576e+03
75%,1.186549e+09,1.266581e+09,1.404298e+09,1.431744e+09,1.421463e+09,1.561288e+09,1.830538e+09,2.458493e+09,3.014830e+09,3.501553e+09,4.240940e+09,5.559303e+09,6.048544e+09,4.913153e+09,4.873697e+09,5.792233e+09,5.783850e+09,6.311731e+09,6.621326e+09,5.672903e+09
max,2.503665e+12,2.218689e+12,2.243226e+12,2.199957e+12,1.949954e+12,1.950649e+12,2.079136e+12,2.505734e+12,2.819245e+12,2.861410e+12,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417298e+12,3.757465e+12,3.539615e+12,3.745317e+12,3.868291e+12,3.355772e+12

In [12]:
df.describe(include="all")

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
count,42,40,40,40,40,40,40,40,40,40,...,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,4.000000e+01,40
unique,12,10,4,4,25,33,35,37,37,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Poland,POL,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
freq,4,4,10,10,16,8,6,4,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.531441e+11,2.689177e+11,2.368285e+11,2.396135e+11,2.613710e+11,2.510233e+11,2.627655e+11,2.727733e+11,2.414497e+11,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.078246e+11,8.464855e+11,7.566341e+11,7.592880e+11,8.274851e+11,7.921232e+11,8.304221e+11,8.671394e+11,7.713040e+11,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.258200e-01,-5.419464e+00,-1.480000e+01,7.431979e-01,1.178411e+00,-1.688895e+00,-1.786600e+00,-6.600003e+00,-9.899983e+00,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.783579e+00,1.715611e+00,-5.380155e+00,3.448329e+00,3.435769e+00,1.003788e+00,1.216929e+00,2.337077e+00,1.641873e+00,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.539722e+03,1.950804e+03,1.274057e+03,1.490965e+03,1.788834e+03,1.930491e+03,1.994227e+03,1.534558e+03,1.059576e+03,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.559303e+09,6.048544e+09,4.913153e+09,4.873697e+09,5.792233e+09,5.783850e+09,6.311731e+09,6.621326e+09,5.672903e+09,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.439953e+12,3.752366e+12,3.418005e+12,3.417298e+12,3.757465e+12,3.539615e+12,3.745317e+12,3.868291e+12,3.355772e+12,NaN

In [14]:
df.tail()
df.tail(10)#to see last 10 rows

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
35,Ukraine,UKR,GDP (current US$),NY.GDP.MKTP.CD,81456918678.5008,77464561149.5103,73942235330.437,65648559903.0571,52543388913.1384,48214752454.2319,...,1.427190e+11,1.799924e+11,1.172278e+11,1.364193e+11,1.631597e+11,1.757814e+11,1.813344e+11,1.318051e+11,9.061502e+10,..
36,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,19095.4669984608,19900.7266505069,20487.1707852878,18389.0195675099,19709.2380983653,21330.276252903,...,4.842816e+04,4.519516e+04,3.716628e+04,3.829287e+04,4.102038e+04,4.129451e+04,4.229489e+04,4.627852e+04,4.373400e+04,..
37,United Kingdom,GBR,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,0.253445348286505,-1.56193437012463,0.175136684558439,2.38923188591819,3.75947395912412,2.25086602979407,...,1.790336e+00,-1.247160e+00,-4.913894e+00,7.473263e-01,1.178411e+00,4.779823e-01,1.478193e+00,2.080913e+00,1.504319e+00,..
38,United Kingdom,GBR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.553581904401085,-1.25704549926641,0.446408126806446,2.63499989075804,4.02396809897093,2.52172617337949,...,2.586037e+00,-4.668768e-01,-4.191945e+00,1.540177e+00,1.972399e+00,1.179056e+00,2.159904e+00,2.852843e+00,2.329183e+00,..
39,United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,1093169389204.55,1142797178130.51,1179659529659.53,1061388722255.55,1140489745944.29,1237561937825.47,...,2.969734e+12,2.793377e+12,2.314577e+12,2.403504e+12,2.594905e+12,2.630473e+12,2.712296e+12,2.990201e+12,2.848755e+12,..
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Last Updated: 11/17/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.head()
df.head(10)

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,Poland,POL,GDP per capita (current US$),NY.GDP.PCAP.CD,1698.00692240161,2192.66597959689,2411.85949606936,2449.30190803207,2819.68946640512,3612.15951448199,...,1.124755e+04,1.390622e+04,1.144058e+04,1.259746e+04,1.389114e+04,1.314205e+04,1.377645e+04,1.433721e+04,1.249447e+04,..
1,Poland,POL,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-7.34479101398449,2.2010658661186,3.47468277389751,5.07085551499688,6.8067989238197,...,7.259915e+00,3.906208e+00,2.564657e+00,3.995464e+00,4.952064e+00,1.561950e+00,1.325847e+00,3.359870e+00,3.683108e+00,..
2,Poland,POL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,-7.01557881088655,2.51497862631298,3.73831030900784,5.29280205906156,6.95185663018788,...,7.201683e+00,3.920379e+00,2.634181e+00,3.698868e+00,5.008512e+00,1.561707e+00,1.264705e+00,3.282538e+00,3.649719e+00,..
3,Poland,POL,GDP (current US$),NY.GDP.MKTP.CD,64712371654.1385,83861126240.1965,92527774557.9928,94203600000,108678309851.718,139411289237.113,...,4.287630e+11,5.301851e+11,4.364764e+11,4.792425e+11,5.287421e+11,5.002279e+11,5.240590e+11,5.449821e+11,4.747834e+11,..
4,Germany,DEU,GDP per capita (current US$),NY.GDP.PCAP.CD,22219.5725271486,23269.3817972445,26333.537444515,25488.5195189314,27087.5584535617,31729.6997633451,...,4.181482e+04,4.569920e+04,4.173271e+04,4.178804e+04,4.593608e+04,4.401093e+04,4.560077e+04,4.776700e+04,4.121905e+04,..
5,Germany,DEU,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,4.35163905751361,4.34522004153158,1.15177125116625,-1.60513530528513,2.10260723179756,1.43906815827275,...,3.398706e+00,1.274699e+00,-5.379411e+00,4.239504e+00,3.633713e+00,2.117815e+00,-1.786600e+00,3.042865e+00,1.149834e+00,..
6,Germany,DEU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.25500608609781,5.10826150794557,1.92380701113764,-0.956165307017542,2.45737182000684,1.73764063121563,...,3.260535e+00,1.082315e+00,-5.618860e+00,4.079933e+00,3.660000e+00,4.051707e-01,2.978476e-01,1.599770e+00,1.687724e+00,..
7,Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,1764967948916.6,1861873895109.02,2123130870381.97,2068555542410.98,2205966011811.5,2591620035485.19,...,3.439953e+12,3.752366e+12,3.418005e+12,3.417298e+12,3.757465e+12,3.539615e+12,3.745317e+12,3.868291e+12,3.355772e+12,..
8,Belarus,BLR,GDP per capita (current US$),NY.GDP.PCAP.CD,1704.74030406477,1747.43867127761,1666.22751294157,1590.03540902938,1460.01754360249,1370.67270975184,...,4.735957e+03,6.376173e+03,5.176045e+03,5.818855e+03,6.305774e+03,6.721835e+03,7.722123e+03,8.025304e+03,5.740456e+03,..
9,Belarus,BLR,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-1.24845987835901,-9.79467501957747,-7.80755933196606,-11.5963919037841,-10.1099470276634,...,9.099833e+00,1.057011e+01,4.213317e-01,7.933784e+00,5.733117e+00,1.828135e+00,1.052246e+00,1.540729e+00,-4.190796e+00,..

CREATING OUR OWN DATAFRAME 

ROW ORIENTED APPROACH

In [17]:
df.head(2)

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,Poland,POL,GDP per capita (current US$),NY.GDP.PCAP.CD,1698.00692240161,2192.66597959689,2411.85949606936,2449.30190803207,2819.68946640512,3612.15951448199,...,11247.551481,13906.218200,11440.578132,12597.458792,13891.141688,13142.045995,13776.454764,14337.206367,12494.466190,..
1,Poland,POL,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-7.34479101398449,2.2010658661186,3.47468277389751,5.07085551499688,6.8067989238197,...,7.259915,3.906208,2.564657,3.995464,4.952064,1.561950,1.325847,3.359870,3.683108,..

In [19]:
my_df = pd.DataFrame([["Abhinav","Gangwar",20,"Bareilly","Uttar Pradesh","India"]],
                     columns=["FirstName","LastName","Age","City","State","Country"]
                     )
my_df

  FirstName LastName  Age      City          State Country
0   Abhinav  Gangwar   20  Bareilly  Uttar Pradesh   India

COLUMN ORIENTED APPROACH

In [21]:
data = pd.DataFrame({
    "FirstName" : ["Thomas","Arthur","Elfy"],
    "LastName" : ["Shelby","Shelby","Armor"],
    "Age":[40,49,41],
    "City":["Manhattan","Manhattan","Burminghum"],
    "State":["UK","UK","UK"],
    "Country":["England","England","England"]
})
data

  FirstName LastName  Age        City State  Country
0    Thomas   Shelby   40   Manhattan    UK  England
1    Arthur   Shelby   49   Manhattan    UK  England
2      Elfy    Armor   41  Burminghum    UK  England

In [22]:
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]',
       '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]',
       '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]',
       '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]',
       '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
       '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]',
       '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]'],
      dtype='object')

In [25]:
df["Country Name"].unique()

array(['Poland', 'Germany', 'Belarus', 'Czech Republic',
       'Slovak Republic', 'Hungary', 'Estonia', 'France', 'Ukraine',
       'United Kingdom', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 11/17/2016'], dtype=object)

In [26]:
df["Country Name"].nunique()#gives number of unique values in the column

12

In [35]:
# Accessing multiple columns at a time
df[["Country Name","Country Code"]].nunique()
t = df[["Country Name","Country Code"]]
type(t)
df[["Country Name","Country Code"]].value_counts()#not advised
df["Country Code"].value_counts()
type(df["Country Code"].value_counts())

pandas.core.series.Series