In [1]:
import pandas as pd

users = pd.DataFrame({
    "User_id" : [1,2,3],
    "User_names" : ["Tom","Sam","Holly"]
})

users

   User_id User_names
0        1        Tom
1        2        Sam
2        3      Holly

In [2]:
department = pd.DataFrame({
    "User_id" : [1,2,3],
    "Depart_name" : ["Accounts","Bussiness","HR"]
})
department

   User_id Depart_name
0        1    Accounts
1        2   Bussiness
2        3          HR

In [3]:
details = pd.concat([users,department])
details

   User_id User_names Depart_name
0        1        Tom         NaN
1        2        Sam         NaN
2        3      Holly         NaN
0        1        NaN    Accounts
1        2        NaN   Bussiness
2        3        NaN          HR

In [5]:
details_updated = pd.merge(users,department,on="User_id")#works on inner join by default
details_updated

   User_id User_names Depart_name
0        1        Tom    Accounts
1        2        Sam   Bussiness
2        3      Holly          HR

In [6]:
pd.Series([1000,2000,3000]).isin(pd.Series([1000,3000]))

0     True
1    False
2     True
dtype: bool